<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tree.wxmini.dao.TbContentMapper" >
  <resultMap id="BaseResultMap" type="com.tree.wxmini.model.TbContent" >
    <id column="CID" property="cid" jdbcType="VARCHAR" />
    <result column="UID" property="uid" jdbcType="VARCHAR" />
    <result column="USER_MOOD" property="userMood" jdbcType="INTEGER" />
    <result column="USER_ANONYMOUS" property="userAnonymous" jdbcType="INTEGER" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.tree.wxmini.model.TbContent" extends="BaseResultMap" >
    <result column="CONTENT_TEXT" property="contentText" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    CID, UID, USER_MOOD, USER_ANONYMOUS, CREATE_TIME
  </sql>
  <sql id="Blob_Column_List" >
    CONTENT_TEXT
  </sql>
  <select id="queryContent" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs" >
    SELECT
      *
    FROM
      tb_content
    ORDER BY
      tb_content.CREATE_TIME DESC
      LIMIT ${param1},
       10
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from tb_content
    where CID = #{cid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from tb_content
    where CID = #{cid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.tree.wxmini.model.TbContent" >
    insert into tb_content (CID, UID, USER_MOOD, 
      USER_ANONYMOUS, CREATE_TIME, CONTENT_TEXT
      )
    values (#{cid,jdbcType=VARCHAR}, #{uid,jdbcType=VARCHAR}, #{userMood,jdbcType=INTEGER}, 
      #{userAnonymous,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{contentText,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.tree.wxmini.model.TbContent" >
    insert into tb_content
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cid != null" >
        CID,
      </if>
      <if test="uid != null" >
        UID,
      </if>
      <if test="userMood != null" >
        USER_MOOD,
      </if>
      <if test="userAnonymous != null" >
        USER_ANONYMOUS,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="contentText != null" >
        CONTENT_TEXT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cid != null" >
        #{cid,jdbcType=VARCHAR},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=VARCHAR},
      </if>
      <if test="userMood != null" >
        #{userMood,jdbcType=INTEGER},
      </if>
      <if test="userAnonymous != null" >
        #{userAnonymous,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="contentText != null" >
        #{contentText,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tree.wxmini.model.TbContent" >
    update tb_content
    <set >
      <if test="uid != null" >
        UID = #{uid,jdbcType=VARCHAR},
      </if>
      <if test="userMood != null" >
        USER_MOOD = #{userMood,jdbcType=INTEGER},
      </if>
      <if test="userAnonymous != null" >
        USER_ANONYMOUS = #{userAnonymous,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="contentText != null" >
        CONTENT_TEXT = #{contentText,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where CID = #{cid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.tree.wxmini.model.TbContent" >
    update tb_content
    set UID = #{uid,jdbcType=VARCHAR},
      USER_MOOD = #{userMood,jdbcType=INTEGER},
      USER_ANONYMOUS = #{userAnonymous,jdbcType=INTEGER},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      CONTENT_TEXT = #{contentText,jdbcType=LONGVARCHAR}
    where CID = #{cid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tree.wxmini.model.TbContent" >
    update tb_content
    set UID = #{uid,jdbcType=VARCHAR},
      USER_MOOD = #{userMood,jdbcType=INTEGER},
      USER_ANONYMOUS = #{userAnonymous,jdbcType=INTEGER},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP}
    where CID = #{cid,jdbcType=VARCHAR}
  </update>
</mapper>